html {
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
}

/*
remember to do the :valid selector thing
*/

input, select {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

body {
    background-image: url(ggbridge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin-right: 100px;
    box-shadow: 10px 10px 100px #000000;
    background-color: #ffffff;
    padding: 30px;
    float: right;
    width: 320px;
    height: auto;
    
}

label {
    float: left;
	text-align: left;
	//margin-right: 15px;
	width: 100px;
}


#submitButton {
    float: right;
}

#header {
    width: 400px;
    height: 150px;    
    margin-left: 30px;
    margin-top: 30px;
    
    box-shadow: 10px 10px 100px #000000;
    background-image: -webkit-gradient(
	   linear,
	   left top,
	   left bottom,
	   color-stop(0, #FF8000),
	   color-stop(1, #FF0000)
    );
    background-image: -o-linear-gradient(bottom, #FF8000 0%, #FF0000 100%);
    background-image: -moz-linear-gradient(bottom, #FF8000 0%, #FF0000 100%);
    background-image: -webkit-linear-gradient(bottom, #FF8000 0%, #FF0000 100%);
    background-image: -ms-linear-gradient(bottom, #FF8000 0%, #FF0000 100%);
    background-image: linear-gradient(to bottom, #FF8000 0%, #FF0000 100%);
}