html {
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
}

body {
    background-image: url(running.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.input {
/*    padding: 5px;*/
    
}

.input:focus {
    outline: none;
}

.input:focus:invalid {
 /*   background: #fff url(invalid.svg) no-repeat 98% center; */
    box-shadow: 0 0 10px #d45252;
    border-color: #b03535
}

.input:focus:valid {
 /*   background: #fff url(invalid.svg) no-repeat 98% center; */
    box-shadow: 0 0 10px #66d452;
    border-color: #1cd433
}

input, select {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

label {
    float: left;
	text-align: left;
	//margin-right: 15px;
	width: 100px;
}


#submitButton {
    float: right;
}

#logo {
    float: right;
    height: 85px;
    width: 85px;
    padding: 10px;
    padding-right: 40px;
}

#title {
    padding-top: 20px;
    padding-left: 40px;
    float: left;
}

#header {
    height: 115px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    box-shadow: 10px 10px 100px #000000;
    background-color: rgba(0, 78, 255, 0.47);
}

#form-container {
    margin-right: 150px;
    margin-top: 20px;
    box-shadow: 10px 10px 100px #000000;
    background-color: #ffffff;
    padding: 30px;
    float: right;
    width: 320px;
    height: auto;
}

h3 {
    text-align: center; 
    margin: 0;
}

#text-container {
    background-color: #ffffff;
    box-shadow: 10px 10px 100px #000000;
    float: left;
    margin: 20px;
    margin-left: 150px;
    width: 400px;
    display: inline-block;
    clear: both;
    padding: 15px;
}