html {
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
}

body {
    background-image: url(running.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

#title {
    padding-top: 20px;
    padding-left: 40px;
    float: left;
}

#header {
    height: 115px;
    
    box-shadow: 10px 10px 100px #000000;
    background-color: rgba(0, 108, 255, 0.66);
}